@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --primary-accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --hero-button-hover-color: #188ce8;
  --gallery-cards-border-color: #eeeeee;
  --logo-secondary-color: #000000;
  --header-line-color: #ececec;
  --hero-gradient-start: rgba(47, 48, 58, 0.58);
  --hero-gradient-end: rgba(47, 48, 58, 0.58);
  --normal-icon-color: #afb1b8;
  --footer-social-bg: rgba(255, 255, 255, 0.1);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .section {
    max-width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 1200px) {
  .pad-bot {
    padding-bottom: 47px;
  }
}

@media (min-width: 1200px) {
  .pad-top {
    padding-top: 47px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 15;
    background-color: var(--primary-background-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity 250ms linear, visibility 250ms linear, -webkit-transform 250ms linear;
    transition: opacity 250ms linear, visibility 250ms linear, -webkit-transform 250ms linear;
    transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
    transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding: 48px 83px 48px 40px;
  }
  .mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
    transition: fill var(--transition-duration) var(--transition-timing-function);
  }
  .mobile-menu__btn:hover, .mobile-menu__btn:focus {
    fill: var(--primary-accent-color);
  }
  .mobile-nav {
    margin-bottom: 302px;
  }
  .mobile-nav,
  .mobile-contacts,
  .mobile-social {
    padding: 0;
    list-style: none;
  }
  .mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
    -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .mobile-nav__link:hover, .mobile-nav__link:focus {
    color: var(--primary-accent-color);
  }
  .mobile-nav__link.current {
    position: relative;
    color: var(--primary-accent-color);
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contacts__item-tel {
    margin-bottom: 32px;
  }
  .mobile-contacts {
    margin-bottom: 64px;
  }
  .mobile-contacts__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-accent-color);
  }
  .mobile-contacts__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
  }
  .mobile-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .mobile-social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-social__link {
    color: var(--primary-accent-color);
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.header {
  max-width: 1600px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--header-line-color);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.header__mobile-menu-btn:hover, .header__mobile-menu-btn:focus {
  fill: var(--primary-accent-color);
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header-logo {
    margin-right: 88px;
  }
  .header__mobile-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1600px;
  }
  .header-logo {
    margin-right: 93px;
  }
}

.nav__list {
  display: none;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav__link:hover, .nav__link:focus {
  color: var(--primary-accent-color);
}

.nav__link.current {
  position: relative;
  color: var(--primary-accent-color);
}

.nav__link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: var(--primary-accent-color);
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-left: auto;
    padding-left: 0;
    list-style: none;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 18px;
    text-decoration: none;
    color: var(--secondary-text-color);
    -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--primary-accent-color);
  }
  .contacts__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-accent-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo__black {
  color: var(--logo-secondary-color);
}

.logo__white {
  color: var(--primary-background-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.hero {
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  color: var(--primary-background-color);
  background-color: var(--footer-background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-start)), to(var(--hero-gradient-end))), url(../images/mob/herobgi.jpg);
  background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)), url(../images/mob/herobgi.jpg);
  background-size: cover;
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero__button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  line-height: 1.87;
  color: var(--primary-background-color);
  letter-spacing: 0.06em;
  background-color: var(--primary-accent-color);
  cursor: pointer;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-button-hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-start)), to(var(--hero-gradient-end))), url(../images/mob/herobgi@2x.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)), url(../images/mob/herobgi@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-start)), to(var(--hero-gradient-end))), url(../images/mob/herobgi@3x.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)), url(../images/mob/herobgi@3x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-start)), to(var(--hero-gradient-end))), url(../images/tablet/bgi.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)), url(../images/tablet/bgi.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-start)), to(var(--hero-gradient-end))), url(../images/tablet/bgi@2x.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)), url(../images/tablet/bgi@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-start)), to(var(--hero-gradient-end))), url(../images/tablet/bgi-@3x.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)), url(../images/tablet/bgi-@3x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-start)), to(var(--hero-gradient-end))), url(../images/desktop/bgi.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)), url(../images/desktop/bgi.jpg);
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    margin: 0 auto 30px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-start)), to(var(--hero-gradient-end))), url(../images/desktop/bgi@2x.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)), url(../images/desktop/bgi@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-start)), to(var(--hero-gradient-end))), url(../images/desktop/bgi@3x.jpg);
    background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)), url(../images/desktop/bgi@3x.jpg);
  }
}

.features__wrapper {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.features__list {
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.features__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .features__item {
    min-width: 354px;
    min-height: 251px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features__item {
    min-width: 270px;
    min-height: 251px;
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .occupations {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupations__header {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
  }
  .occupations__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  .occupations__item {
    position: relative;
  }
  .occupations__item:not(:last-child) {
    margin-right: 30px;
  }
  .occupations__description {
    position: absolute;
    width: 100%;
    padding: 27px 0;
    color: var(--primary-background-color);
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
}

.team {
  background-color: var(--secondary-background-color);
}

.team__header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
}

.team__list {
  padding-left: 0;
  list-style: none;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__member {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__post {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__thumb {
  padding: 30px 0 24px;
}

@media screen and (max-width: 767px) {
  .team .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin: -15px;
    list-style: none;
  }
  .team__item {
    margin: 15px;
  }
  .team__thumb {
    padding: 30px 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
  .team__item {
    min-width: 270px;
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  outline: none;
  fill: var(--normal-icon-color);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}

.social__link:hover, .social__link:focus {
  fill: var(--primary-background-color);
  background-color: var(--primary-accent-color);
}

.clients__header {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  padding: 0;
  list-style: none;
}

.clients__item {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__header {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.18;
  }
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
  .clients__item__:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--normal-icon-color);
  border-radius: 4px;
  outline: none;
  fill: var(--normal-icon-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  padding-left: 0;
  list-style: none;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--secondary-background-color);
  cursor: pointer;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter__button:hover, .filter__button:focus {
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.gallery {
  padding-left: 0;
  list-style: none;
}

.gallery__item-header {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.gallery__item-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

.gallery__card-thumb {
  position: relative;
  overflow: hidden;
}

.gallery__card-description {
  padding: 20px 24px;
  border-right: 1px solid var(--gallery-cards-border-color);
  border-bottom: 1px solid var(--gallery-cards-border-color);
  border-left: 1px solid var(--gallery-cards-border-color);
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .gallery__item {
    margin: 15px;
    max-width: 370px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

.gallery__link {
  display: block;
  color: inherit;
  text-decoration: none;
  outline: none;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.gallery__link:hover, .gallery__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.gallery__link:hover .gallery__overlay,
.gallery__link:focus .gallery__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.03em;
  background-color: var(--footer-background-color);
}

.footer-content {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

@media screen and (max-width: 1199px) {
  .address-container,
  .footer-social-container {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
  .footer-social-container {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-social-container {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
  }
  .footer-form-wrapper {
    margin-left: auto;
  }
  .address-container {
    margin-right: 70px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-background-color);
  letter-spacing: 0.03em;
}

.address__list {
  list-style: none;
  padding-left: 0;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address__map:hover, .address__map:focus {
  color: var(--primary-accent-color);
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--primary-accent-color);
}

.footer-social__header {
  margin-bottom: 20px;
  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  outline: none;
  fill: var(--primary-background-color);
  background-color: var(--footer-social-bg);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-social__link:hover, .footer-social__link:focus {
  fill: var(--primary-background-color);
  background-color: var(--primary-accent-color);
}

.subscribe__header {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .subscribe__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__input {
  height: 50px;
  padding: 0 0 0 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-background-color);
  background-color: var(--footer-background-color);
  -webkit-transition: -webkit-filter var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-filter var(--transition-duration) var(--transition-timing-function);
  transition: filter var(--transition-duration) var(--transition-timing-function);
  transition: filter var(--transition-duration) var(--transition-timing-function), -webkit-filter var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.subscribe__input:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe__input::-webkit-input-placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 480px) {
  .subscribe__input {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe__button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0 0 0 29px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  text-align: start;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.subscribe__button:hover, .subscribe__button:focus {
  background-color: var(--hero-button-hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms linear, visibility 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--primary-accent-color);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form__header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal-form__header {
    line-height: 1.5;
  }
}

.modal-form__wrapper {
  margin-bottom: 10px;
}

.modal-form__feedback-wrapper {
  margin-bottom: 20px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input {
  padding: 0 0 0 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.modal-form__input:focus {
  border-color: var(--primary-accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--primary-accent-color);
}

.modal-form__feedback {
  resize: none;
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.modal-form__feedback:focus {
  border-color: var(--primary-accent-color);
}

.modal-form__feedback::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__feedback:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__feedback::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__feedback::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__policy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  user-select: none;
  -moz-user-select: none;
  /* Mozilla Firefox */
  -ms-user-select: none;
  /* Internet Explorer (не поддерживается) */
  -o-user-select: none;
  /* Opera Presto (не поддерживается) */
  -webkit-user-select: none;
  /* Google Chrome, Opera Next, Safari */
}

.modal-form__policy-label::before {
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
}

.modal-form__checkbox:checked + .modal-form__policy-label::before {
  background-color: var(--primary-accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--primary-accent-color);
}

.modal-form__checkbox:focus + .modal-form__policy-label::before {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
}

.modal-form__policy-link {
  color: var(--primary-accent-color);
}

.modal-form__button {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.modal-form__button:hover, .modal-form__button:focus {
  background-color: var(--hero-button-hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */