.header {
  max-width: 1600px;
  height: 60px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--header-line-color);

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-flex;
    cursor: pointer;
    transition: fill var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      fill: var(--primary-accent-color);
    }
  }
}

@media screen and(min-width:768px) {
  .header {
    height: 80px;
  }
  .header-logo {
    margin-right: 88px;
  }
  .header {
    &__mobile-menu-btn {
      display: none;
    }
  }
}

@media screen and(min-width:1200px) {
  .header {
    max-width: 1600px;
  }
  .header-logo {
    margin-right: 93px;
  }
}

.nav {
  &__list {
    display: none;
    padding-left: 0;
    list-style: none;
  }
}
@media screen and(min-width:768px) {
  .nav {
    display: flex;
    align-items: center;
    height: 100%;

    &__list {
      display: flex;
    }
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav__link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }

  &.current {
    position: relative;
    color: var(--primary-accent-color);

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 4px;
      display: block;
      border-radius: 2px;
      background-color: var(--primary-accent-color);
    }
  }
}

.contacts {
  display: none;
}
@media screen and(min-width:768px) {
  .contacts {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-left: auto;
    padding-left: 0;
    list-style: none;

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__link {
      display: flex;
      align-items: center;
      min-height: 18px;
      text-decoration: none;
      color: var(--secondary-text-color);
      transition: color var(--transition-duration) var(--transition-timing-function);

      &:hover,
      &:focus {
        color: var(--primary-accent-color);
      }
    }

    &__icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}
@media screen and(min-width:1200px) {
  .contacts {
    display: flex;
    font-size: 14px;
    line-height: 1.14;

    &__item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}
