.hero {
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  color: var(--primary-background-color);
  background-color: var(--footer-background-color);
  background-image: linear-gradient(to right, var(--hero-gradient-start), var(--hero-gradient-end)),
    url(../images/mob/herobgi.jpg);
  background-size: cover;

  &__title {
    max-width: 360px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
  &__button {
    padding: 10px 32px;
    border-radius: 4px;
    border: none;

    font-weight: 700;
    line-height: 1.87;
    color: var(--primary-background-color);
    letter-spacing: 0.06em;

    background-color: var(--primary-accent-color);
    cursor: pointer;

    transition: background-color var(--transition-duration) var(--transition-timing-function),
      box-shadow var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      background-color: var(--hero-button-hover-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-start),
        var(--hero-gradient-end)
      ),
      url(../images/mob/herobgi@2x.jpg);
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-start),
        var(--hero-gradient-end)
      ),
      url(../images/mob/herobgi@3x.jpg);
  }
}

// 768px++
@media screen and(min-width:768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-start),
        var(--hero-gradient-end)
      ),
      url(../images/tablet/bgi.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--hero-gradient-start),
          var(--hero-gradient-end)
        ),
        url(../images/tablet/bgi@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--hero-gradient-start),
          var(--hero-gradient-end)
        ),
        url(../images/tablet/bgi-@3x.jpg);
    }
  }
}
// 1200++
@media screen and(min-width:1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        var(--hero-gradient-start),
        var(--hero-gradient-end)
      ),
      url(../images/desktop/bgi.jpg);

    &__title {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
      margin: 0 auto 30px;
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--hero-gradient-start),
          var(--hero-gradient-end)
        ),
        url(../images/desktop/bgi@2x.jpg);
    }
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--hero-gradient-start),
          var(--hero-gradient-end)
        ),
        url(../images/desktop/bgi@3x.jpg);
    }
  }
}
